body{
  margin:0;
  text-align: center;
  /*font-family: 'Merriweather', serif;*/
}

h1{
  color:#66BFBF;
  font-size: 55px;
  /*font-family: 'Sacramento', cursive;*/
}
h2{
  color:#66BFBF;
  font-size: 35px;
  /*font-family: 'Montserrat', sans-serif;*/
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.top-cloud{
  position: absolute;
  right:300px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left:300px;
  bottom: 300px;
}
